  /*Colores*/
$custom-primary: #325DAC;
$custom-dark: #263758;
$custom-info: #2CA6B8;
$custom-light: #E6E6E8;
$custom-warning: #DE792A;
$text-color-dark: #303030;
$text-color-light: #6C757D;
$text-color-lighter: #6D6D6D;

$breadcrumb-margin-bottom: 0rem;
  
/*Botones*/
$btn-font-family: 'Open Sans';
$btn-border-width: 0.1875rem;
$btn-font-weight: 700;
$btn-font-size: 1rem;
$btn-border-radius: 0.25rem;